Repository takos22/pix: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-1d-job, run-admin-job, run-api-job, run-audit-logger-job, run-certif-job, run-high-level-tests-job, run-mon-pix-job, run-orga-job

:alembic: use conditionnal jobs steps
  .circleci/continue_config.yml
Due: none

:alembic: Update some file in API folder to test job triggers
  api/.dockerignore
Due: run-api-job

:alembic: Try to parallelize api lint & test
  .circleci/continue_config.yml
Due: none

:alembic: Attach "pix" workspace
  .circleci/continue_config.yml
Due: none

:alembic: Persist whole pix workspace & do not require redis/postgres
  .circleci/continue_config.yml
Due: none

:alembic: Only persist api path to workspace
  .circleci/continue_config.yml
Due: none

:sparkles: use shallow clone for Circleci main workflow
  .circleci/continue_config.yml
Due: none

Use new branch name
  mon-pix/package-lock.json
  mon-pix/package.json
Due: run-mon-pix-job

Working event dispatching
  mon-pix/app/components/signin-form.hbs
  mon-pix/package-lock.json
Due: run-mon-pix-job

Use pix-ui-themes
  mon-pix/app/components/signin-form.hbs
  mon-pix/app/styles/app.scss
  mon-pix/ember-cli-build.js
  mon-pix/package-lock.json
  mon-pix/package.json
Due: run-mon-pix-job

:truck: Migrate circleci configuration to a dynamic CI
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

:truck: Move api workflow to api folder
  .circleci/config.yml
  .circleci/continue_config.yml
  api/.circleci/config.yml
Due: run-api-job

feat(api): add getById in grain repository
  api/src/devcomp/infrastructure/datasources/modulix-datasource.json
  api/src/devcomp/infrastructure/repositories/grain-repository.js
  api/src/shared/domain/errors.js
  api/tests/devcomp/integration/infrastructure/repositories/grain-repository_test.js
Due: run-api-job

feat(api): add grain serializer
  api/src/devcomp/infrastructure/serializers/json-api/grain-serializer.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/grain-serializer_test.js
Due: run-api-job

feat(api): add getGrain use-case
  api/src/devcomp/domain/usecases/get-grain.js
  api/tests/devcomp/unit/domain/usecases/get-grain_test.js
Due: run-api-job

feat(api): add usecase index
  api/src/devcomp/domain/usecases/index.js
Due: run-api-job

feat(api): add repositories index
  api/src/devcomp/infrastructure/repositories/index.js
Due: run-api-job

feat(api): add grain controller
  api/src/devcomp/application/grains/grains-controller.js
  api/tests/devcomp/unit/application/grains/grains-controller_test.js
Due: run-api-job

feat(api): add error-serializer in shared
  api/src/shared/infrastructure/serializers/jsonapi/error-serializer.js
  api/tests/shared/unit/infrastructure/serializers/jsonapi/error-serializer_test.js
Due: run-api-job

chore(api): add missing dependencies
  api/package-lock.json
  api/package.json
Due: run-api-job

chore(admin): add missing dependencies
  admin/package-lock.json
  admin/package.json
Due: run-admin-job

chore(1d): add missing dependencies
  1d/package-lock.json
  1d/package.json
Due: run-1d-job

chore(certif): add missing dependencies
  certif/package-lock.json
  certif/package.json
Due: run-certif-job

chore(mon-pix): add missing dependencies
  mon-pix/package-lock.json
  mon-pix/package.json
Due: run-mon-pix-job

chore(orga): add missing dependencies
  orga/package-lock.json
  orga/package.json
Due: run-orga-job

chore(audit-logger): add @1024pix/eslint-config dependency locally
  audit-logger/.eslintrc.json
  audit-logger/package-lock.json
  audit-logger/package.json
Due: run-audit-logger-job

chore(orga): add missing dependencies
  .circleci/config.yml
Due: none

feat(ci): do not lint and test root in checkout job
  .circleci/config.yml
Due: none

feat(ci): cache root npm dependencies
  .circleci/config.yml
Due: none

feat(api): add error-manager and use it
  api/server.js
  api/src/shared/application/error-manager.js
  api/src/shared/application/http-errors.js
  api/src/shared/application/pre-response-utils.js
  api/src/shared/domain/errors.js
  api/tests/src/shared/unit/application/error-manager_test.js
Due: run-api-job

feat(api): add GET /grains/:id endpoint
  api/server.js
  api/src/devcomp/application/grains/index.js
  api/src/devcomp/routes.js
  api/tests/devcomp/acceptance/application/grains/grains-controller-get_test.js
Due: run-api-job

feat(mon-pix): update training wording
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Due: run-mon-pix-job

wip
  api/lib/application/pre-response-utils.js
  api/lib/domain/usecases/correct-answer-then-update-assessment.js
  api/src/shared/application/error-manager.js
  api/src/shared/domain/errors.js
Due: run-api-job

feat(api): add en training
  api/db/seeds/data/team-devcomp/build-trainings.js
Due: run-api-job

WIP
  admin/app/models/user.js
  admin/app/templates/authenticated/users/get.hbs
Due: run-admin-job

Path conditions:
  run-1d-job: any of: 1d/.*
  run-admin-job: any of: admin/.*
  run-api-job: any of: api/.*
  run-audit-logger-job: any of: audit-logger/.*
  run-certif-job: any of: certif/.*
  run-high-level-tests-job: any of: high-level-tests/.*
  run-mon-pix-job: any of: mon-pix/.*
  run-orga-job: any of: orga/.*
